@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-blue: #3b82f6;
  --secondary-blue: #1e40af;
  --success-green: #10b981;
  --warning-yellow: #f59e0b;
  --danger-red: #ef4444;
  --neutral-gray: #6b7280;
  --light-gray: #e5e7eb;
  --dark-gray: #111827;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

/* @layer components {
  .btn-primary {
    @apply;
  }
  .btn-primary:hover {
    @apply;
  }
  .card {
    @apply;
  }
} */

/* @layer utilities {
} */
